body{
    margin: 0%;
    min-height: 100vh;
    background-image: linear-gradient(45deg, #4BD4D4 , #652E79);
}

/* DISPLAY FLEX */

.display-flex{
    display: flex;
}
.justify-content-center{
    justify-content: center;
}
.justify-content-flex-start{
    justify-content: flex-start;
}
.justify-content-space-around{
    justify-content: space-around;
}
.justify-content-space-between{
    justify-content: space-between;
}
.align-items-center{
    align-items: center;
}
.align-items-flex-start{
    align-items: flex-start;
}
.align-items-flex-end{
    align-items: flex-end;
}
.align-content-center{
    align-content: center;
}
.align-content-flex-end{
    align-content: flex-end;
}
.flex-direction-row{
    flex-direction: row;
}
.flex-direction-column{
    flex-direction: column;
}
.flex-wrap-wrap-reverse{
    flex-wrap: wrap-reverse;
}
.flex-wrap-wrap{
    flex-wrap: wrap;
}
.order-3{
    order:3;
}

/* COLOR BACKGROUNDS */

.morado{
    background-color: #652E79;
}
.morado:hover{
    background-color: #b256d4;
}
.morado:active{
    background-color: #df85ff;
}
.rosa{
    background-color: #E644D7;
}
.rosa:hover{
    background-color: #ff4ced;
}
.rosa:active{
    background-color: #ff83f3;
}
.naranja{
    background-color: #FFAA33;
}
.naranja:hover{
    background-color: #f9c276;
}
.naranja:active{
    background-color: #ffdcab;
}
.blanco{
    background-color: #ECEFF4;
}
.lleno:hover{
    background-color: #652E79;
}
.lleno:active{
    
    background-color: #652E79;
}

/* TIPOGRAFIAS, TAMAÑO, COLORES, ALINEACION */

.bold-heading {
    font-family: "Kumbh Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: bold;
    font-style: normal;
    font-variation-settings: "YOPQ" 300;
}
.regular-paragraph{
    font-family: "Kulim Park", serif;
    font-weight: 400;
    font-style: normal;
}
.bold-paragraph{
    font-family: "Kulim Park", sans-serif;
    font-weight: 700;
    font-style: normal;
}
.texto-medio{
    font-size: medium;
}
.texto-grande{
    font-size: large;
}
.texto-blanco{
    color: #fff;
}
.texto-negro{
    color: #000;
}
.texto-central{
    text-align: center;
}

/* BORDERS */

.redondeado{
    border-radius: .3rem;
}
.sin-borde{
    border: 0;
}

/* BOTONES */
.alto{
    height: 3rem;
}
.medio{
    height: 2rem;
}
.bajo{
    height: 1rem;
}
.largo{
    width: 13rem;
}
.grande{
    width: 15vw;
    height: 9vh;
    margin: 2%;
}
.boton-dropdown{
    height: 9vh;
    min-height: 50px;
    font-size: medium;
    color: #000;
    border-radius: 0;
    /* grid */
    grid-column: span 2;
}

/* INDEX */

.index{
    margin: 0 27vw 0 27vw;
    height: 100vh;
}

/* INICIO Y REGISTRO */

.ingreso{
    margin: 10vh 0 10vh 0;
    width: 20rem;
    min-height: 29rem;
    /* From https://css.glass */
    background: rgba(255, 255, 255, 0.2);
    border-radius: .3rem;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
}

/* DESKTOP */

.titulo-desktop{
    width: 80vw;
}
.titulo-2-desktop{
    margin-bottom: 1vh;
    grid-column: 1/4;
}
.desktop {
    margin: 2rem;
    min-height: 72.5vh;
    background-color: #ECEFF4;
    border-radius: .3rem;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    padding: 3rem 2rem 3rem 2rem;
}
.descarga{
    width: 20vw;
    padding-left: 1vw;
    padding-right: 1vw;
    font-family: "Kulim Park", serif;
    font-weight: 400;
    font-style: normal;
    /* grid */
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
}
.descarga p{
    margin-top: .5rem;
    grid-column: span 2;
}
.descarga button{
    height: 1rem;
    min-height: 30px;
    grid-column: span 1;
    border-radius: .3rem;
    margin: 0 .3rem 0 .3rem;
}


/* EVENTOS */
.eventos{
    margin: 2rem 0 2rem 0;
}
.evento{
    width: 16rem;
    height: 24rem;
    margin: 0 .5rem 0 .5rem;
    padding-bottom: 1rem;
    /* display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 3.5rem 2rem 1rem 4.5rem 3.5rem 1rem 1rem;
    row-gap: 1rem; */
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}
.evento-corto{
    height: 6rem;
}
.evento p,.evento button, .evento img{
    margin: 1rem 0 0 0;
}
.evento p{
    width: 100%;
}

/* FORM */

form{
    padding: 2.5vw;
}
form div{
    width: 100%;
}
input,select{
    height: 40px;
    border: 1px solid black;
    margin: .6rem 0 .6rem 0;
}
.boletin input{
    width: fit-content;
}
.boletin label{
    width: 12rem;
}

/* DROPDOWN */

.dropdownContainer {
    width: 60vw;
    /* grid */
    display: grid;
    grid-template-columns: 15vw 15vw 15vw 15vw;
}
.grid-item{
    border: 1px solid #000;
}
.dropEventos {
    /* grid */
    grid-column: span 4;
    text-align: start;
}
.contenidoDespliegue {
    display: none;
    padding: 0;
    margin: 0;
    list-style-type: none;
    /* grid */
    grid-column: span 4;
}
li, .dropEvento {
    width: 100%;
    /* grid */
    display: grid;
    grid-template-columns: 1vw 19vw 19vw auto;
    column-gap: 1vw;
}
.dropEvento:hover{
    background-color: #d2d6dc;
}
.dropEvento:active{
    background-color: #a7acb5;
}
li p{
    padding-left: 1vw;
}
.dropdownContainer form{
    grid-column: span 4;
}

/* TOGGLE */
.is-active{
    display: block;
}

@media (max-width: 800px) {
    .grande{
        width: 13rem;
        height: 3rem;
        margin: 2%;
        font-size: medium;
    }
    .index{
        margin: 0 20vw 0 20vw;
    }
    .ingreso{
        margin: 0;
        width: 100vw;
        min-height: 100vh;
        background-color: #ECEFF4;
        border-radius: 0;
    }
    .desktop{
        margin: 0;
        min-height: 100vh;
        background-color: #ECEFF4;
        border-radius: 0;
    }
    form{
        grid-template-columns: 80vw;
    }
}

@media (max-width: 600px) {
    .evento{
        border-bottom: 1px solid #000;
        margin-bottom: 1rem;
        /* height: fit-content; */
    }
}