---
import Layout from "../layouts/Layout.astro";
import CardEvento from "../components/CardEvento.astro";
---

<Layout title="Eventos">
    <main class="desktop display-flex flex-direction-column align-items-center">
        <h1 class="bold-heading">Eventos</h1>
        <button class="misEventos morado texto-blanco redondeado sin-borde alto largo" onclick="location.href='mis-eventos'">Ver Mis Eventos</button>
        <div class="eventos regular-paragraph display-flex flex-wrap-wrap justify-content-space-around">
            <CardEvento
                titulo="Emprendimiento para Jóvenes"
                pregunta="¿Cuál es el rol de los jóvenes en el ambiente emprendedor?" 
                ponente="Daniela Carmona"
                descripcion="Daniela Carmona (CER de ChocoTour) compartirá sus experiencias en el mundo de los negocios como joven."
                lugar='Auditorio "Hermilla Galindo"' fecha="29 de febrero 2025" horario="12:00 - 13:00" cupo="30/100"
                classess="registrarse naranja texto-blanco bold-paragraph redondeado sin-borde medio largo"
                action="location.href='registro-exitoso'" button="Registrarse"/>
            <CardEvento
                titulo="Emprendimiento para Jóvenes"
                pregunta="¿Cuál es el rol de los jóvenes en el ambiente emprendedor?" 
                ponente="Daniela Carmona"
                descripcion="Daniela Carmona (CER de ChocoTour) compartirá sus experiencias en el mundo de los negocios como joven."
                lugar='Auditorio "Hermilla Galindo"' fecha="29 de febrero 2025" horario="12:00 - 13:00" cupo="30/100"
                classess="registrarse naranja texto-blanco bold-paragraph redondeado sin-borde medio largo"
                action="location.href='registro-exitoso'" button="Registrarse"/>
            <CardEvento
                titulo="Ciclo de Conferencias: Emprendimiento Turístico en el Estado de México"
                pregunta="¿Cómo ofrecer servicios turísticos?" 
                ponente="Héctor Rosales"
                descripcion="Conoce el mundo del Emprendimiento Turístico en el Estado de México de la mano de nuestros ponentes."
                lugar='Auditorio "Hermilla Galindo"' fecha="29 de febrero 2025" horario="12:00 - 13:00" cupo="100/100"
                classess="lleno morado texto-blanco bold-paragraph redondeado sin-borde medio largo"
                action="location.href='registro-exitoso'" disable=true button="Cupo cubierto"/>
            <CardEvento
                titulo="Ciclo de Conferencias: Emprendimiento Turístico en el Estado de México"
                pregunta="¿Cómo ofrecer servicios turísticos?"
                ponente="Héctor Rosales"
                descripcion="Conoce el mundo del Emprendimiento Turístico en el Estado de México de la mano de nuestros ponentes."
                lugar='Auditorio "Hermilla Galindo"' fecha="29 de febrero 2025" horario="12:00 - 13:00" cupo="100/100"
                classess="lleno morado texto-blanco bold-paragraph redondeado sin-borde medio largo"
                disable=true button="Cupo cubierto"/>
            <CardEvento
                titulo="TechUNAM"
                pregunta="Muestra de empresas tecnológicas."
                ponente="Marcelino Alba"
                descripcion="Análisis de la composición de los turistas que visitan el Estado de México."
                lugar='Auditorio "Hermilla Galindo"' fecha="29 de febrero 2025" horario="12:00 - 13:00" cupo="85/100"
                classess="inscrito rosa texto-blanco redondeado sin-borde medio largo"
                disable=true button="Inscrito"/>
            <CardEvento
                titulo="TechUNAM"
                pregunta="Muestra de empresas tecnológicas."
                ponente="Marcelino Alba"
                descripcion="Análisis de la composición de los turistas que visitan el Estado de México."
                lugar='Auditorio "Hermilla Galindo"' fecha="29 de febrero 2025" horario="12:00 - 13:00" cupo="85/100"
                classess="inscrito rosa texto-blanco redondeado sin-borde medio largo"
                disable=true button="Inscrito"/>
            <CardEvento
                titulo="TechUNAM"
                pregunta="Muestra de empresas tecnológicas."
                ponente="Marcelino Alba"
                descripcion="Análisis de la composición de los turistas que visitan el Estado de México."
                lugar='Auditorio "Hermilla Galindo"' fecha="29 de febrero 2025" horario="12:00 - 13:00" cupo="85/100"
                classess="inscrito rosa texto-blanco redondeado sin-borde medio largo"
                disable=true button="Inscrito"/>
            <CardEvento
                titulo="TechUNAM"
                pregunta="Muestra de empresas tecnológicas."
                ponente="Marcelino Alba"
                descripcion="Análisis de la composición de los turistas que visitan el Estado de México."
                lugar='Auditorio "Hermilla Galindo"' fecha="29 de febrero 2025" horario="12:00 - 13:00" cupo="85/100"
                classess="inscrito rosa texto-blanco redondeado sin-borde medio largo"
                disable=true button="Inscrito"/>
        </div>
    </main>
</Layout>