---
import Layout from "../layouts/Layout.astro";
---
<Layout title="Inicio">
    <main class="index display-flex justify-content-center align-content-center flex-wrap-wrap-reverse">
        <h1 class="order-3 bold-heading texto-blanco">¡Bienvenido!</h1>
        <button class="morado bold-paragraph texto-blanco redondeado sin-borde grande texto-grande" onclick="location.href='inicio-sesion'">Iniciar Sesión</button>
        <button class="rosa bold-paragraph texto-blanco redondeado sin-borde grande texto-grande" onclick="location.href='registro'">Registrarse</button>
    </main>
</Layout>

