---
import Layout from "../layouts/Layout.astro"
---

<Layout title="Mis Eventos">
    <main class="desktop">
        <h1>Mis Eventos</h1>
        <div class="evento">
            <p><strong>ABC del crédito</strong></p>
            <p>Finalizado</p>
        </div>
        <hr>
        <div class="evento">
            <p><strong>Emprendimiento para jóvenes</strong></p>
            <p><strong>Auditorio "Hermilla Galindo"</strong><strong>29 de febrero 2025</strong><strong>12:00 - 13:00</strong></p>
            <p>Cupo: 31/100</p>
            <img src="/scripts/_Feria del Emprendimiento.png" alt="QR">
        </div>
    </main>
</Layout>