---
import Layout from "../layouts/Layout.astro"
---

<Layout title="Registro Exitoso">
    <main class="desktop">
        <h1>Registro Exitoso</h1>
        <div class="evento">
            <p><strong>Emprendimiento para jóvenes</strong></p>
            <p><strong>Auditorio "Hermilla Galindo"</strong><strong>29 de febrero 2025</strong><strong>12:00 - 13:00</strong></p>
            <button id="misEventos" onclick="location.href='misEventos.html'">Ver Mis Eventos</button>
        </div>
    </main>
</Layout>