main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
form{
    display: grid;
    grid-template-columns: 30vw;
    column-gap: 5vh;
}
div{
    display: flex;
    flex-direction: column;
}
input,select{
    min-height: 5vh;
    border: .4vh solid #000;
    border-radius: 0;
}
button {
    min-height: 40px;
    font-size: medium;
    color: #000;
    margin-top: 3vh;
    margin-bottom: 3vh;
}
@media (max-width: 800px) {
    form{
        grid-template-columns: 80vw;
    }
}