main {
    padding-left: 35%;
    padding-right: 35%;
    background-image: url("/src/fes.jpg");
    background-repeat:no-repeat;
    background-position: top;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-content:center;
    flex-wrap: wrap-reverse;
}
main button{
    height: 9vh;
    min-height: 50px;
    margin: 2%;
    font-size: medium;
    color: #fff;
    width: 13vw;
    min-width: 158px;
}
#inicioSesion{
    background-color: #0B6E4F;
}
#inicioSesion:hover{
    background-color: #0b6e4fc3;
}
#inicioSesion:active{
    background-color: #0b6e4f7a;
}
#registro{
    background-color: #DE541E;
}
#registro:hover{
    background-color: #de541eb2;
}
#registro:active{
    background-color: #de541e73;
}
h1{
    background-color: #F8E6D2;
    order:3;
}
nav {
    height: inherit;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
nav a{
    margin: 1.5%;
}
.container{
    height: inherit;
    /* width: 50vw; */
}

@media (max-width: 1100px) {
    main{
        padding-left: 25%;
        padding-right: 25%;
    }
}

@media (max-width: 800px) {
    main{
        padding-left: 28vw;
        padding-right: 28vw;
    }
    main button{
        height: 5vh;
        min-height: 34px;
        margin: 2%;
        flex: 100%;
    }
}