main {
    min-height: 80vh;
    display: flex;
    justify-content: center;
    align-content: flex-end;
    align-items: flex-end;
    flex-wrap: wrap-reverse;
}
.dropdownContainer {
    width: 60vw;
    /* grid */
    display: grid;
    grid-template-columns: 30vw;
}
button {
    height: 9vh;
    min-height: 50px;
    font-size: medium;
    color: #000;
}
.dropEventos {
    /* grid */
    grid-column: 1 / 3;
}
.contenidoDespliegue {
    display: none;
    margin: 0;
    background-color: #f1f1f1;
    border-right: .4vh solid #000;
    border-left: .4vh solid #000;
    grid-column: 1 / 3;
}
ol{
    list-style-type: none;
    padding: 0;
}
li {
    width: 100%;
    /* grid */
    display: grid;
    grid-template-columns: 19vw 19vw 19vw auto;
    column-gap: 1vw;
}
li p{
    padding-left: 1vw;
}
.descarga{
    width: 20vw;
    padding-left: 1vw;
    padding-right: 1vw;
    /* grid */
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
}
.descarga p{
    grid-column: span 2;
    margin: 0;
    border-top: .4vh solid #000;
    border-bottom: .4vh solid #000;
    border-left: .4vh solid #000;
}
.descarga button{
    height: 5vh;
    min-height: 30px;
}
h2 {
    margin-top: 1vh;
    grid-column: 1/4;
}
.is-active{
    display: block;
    grid-column: 1 / 3;
}