form{
    display: grid;
    grid-template-columns: 15vw 15vw 15vw 15vw;
    column-gap: 5vh;
}
div{
    grid-column: span 2;
}
.enviar{
    grid-column: 2/4;
}
@media (max-width: 800px) {
    form{
        grid-template-columns: 80vw;
    }
    div{
        grid-column: span 1;
    }
    .enviar{
        grid-column: 1/2;
    }
}