body{
    margin: 0%;
    border-left: .4vh solid #000;
    border-right: .4vh solid #000;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
main{
    min-height: 80vh;
}
header {
    height: 9vh;
    border-bottom: .4vh solid #000;
    background-color: #20A4F3;
}
nav {
    height: inherit;
    min-height: 56px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
nav a{
    margin: 1.5%;
}
footer {
    height: 10vh;
    min-height: 56px;
    border-top: .4vh solid #000;
    background-color: #20A4F3;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}
/* section {
    border: 1px solid purple;
    height: 340px;
} */
button{
    border-radius: 0;
    border: .4vh solid #000;
}
@media (max-width: 800px) {
    nav a {
        margin: 5%;
    }
}